<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Medicinal Substances Database</a>
      <ul>
        <li><a href="/herbs">Herbs</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <!-- TODO: add search bar, about and faq pages to help folx use the db -->
      </ul>
    </nav>
    <h2>Hello! <a href="/login">Login</a> or <a href="/signup">sign up</a> to add or edit herbs.</h2>
</header>