<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Holistic Medicinals Database</a>
      <ul>
        <li><a href="/herbs">Herbs</a></li>
        <li><a href="/herbs/addHerb">Add a New Herb</a></li>
        <li><a href="/logout">Logout</a></li>
        <!-- TODO: add search bar, about, faq -->
      </ul>
    </nav>
    <h2>Welcome <%= user.userName %>!</h2>
</header>