<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    <h2>Welcome <%= user.userName %>!</h2>

    <h3> Add your Herb Here:</h3>

    <form action="/herbs/addHerb" method='POST'>
        <input type="text" placeholder="Herb Name" name='name'>
        <input type="text" placeholder="Latin Name" name='latinName'>
        <input type="text" placeholder="Common Name" name='commonName'>
        <input type="text" placeholder="Temperature" name='temp'>
        <input type="text" placeholder="Flavor" name='flavor'>
        <input type="text" placeholder="Channels" name='channels'>
        <input type="text" placeholder="Category" name='category'>
        <input type="text" placeholder="Actions" name='actions'>
        <input type="text" placeholder="Image" name='image'>
        <input type="submit">
    </form>

    <a href="/">Back to Herbs</a>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>