<h1>Herbs</h1>
<ul>
    <% herbs.forEach( el => { %>
        <li class='herb' data-id='<%=el._id%>'>
            <span>'><%= el.herbs %></span>
            <span class='edit'> Edit </span>
        </li>
    <% }) %>    
</ul>

