<h1>Herbs</h1>
<ul>
    <% herbs.forEach( el => { %>
        <li class='herb' data-id='<%=el._id%>'>
            <a href="viewHerb/<%=el.id%>"><%= el._id %></span>
            <a href="editHerb/<%=el.id%>"> Edit </a>
        </li>
    <% }) %>    
</ul>

